.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 16px;
}

.fieldset {
  min-width: 280px;
}

.file_select_fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
